# Core & Utilities
python-box
pyYAML>=6.0
types-PyYAML
ensure
joblib
tqdm
scipy
numpy
pandas

# Deep Learning (PyTorch)
torch
torchvision
albumentations

# MLOps (DagsHub, DVC, MLflow)
mlflow>=2.10.0
dagshub
dvc
dvc-s3
aiobotocore==2.15.2 
boto3==1.35.36 
s3fs==2024.10.0

# Visualization & Notebook
matplotlib
seaborn
notebook

# Web Server
Flask
Flask-Cors
-e .