tensorflow
torch
torchvision
dvc
mlflow
numpy
notebook
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
boto3
dvc-s3
awscli
albumentations
dagshub
-e .